@use "../../../../scss/index.scss" as *;

.status {
  position: relative;
}

.status__btn {
  width: 100%;
  color: theme(title);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: rem(13.5px);
  text-align: left;
  padding: rem(8px) rem(12px);
  border: 2px solid rgba(130, 143, 163, 0.4);
  border-radius: 4px;
  font-weight: 700;

  &:focus {
    outline: none;
    border: 2px solid $darkBlue;
  }
}

.status__list {
  position: absolute;
  top: 3.4rem;
  width: 100%;
  padding: rem(16px);
  font-size: rem(14px);
  background-color: theme(board);
  border-radius: 4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  button {
    margin-bottom: rem(8px);
    text-align: left;
    width: 100%;
    color: $mediumGray;
  }
}
