@use "../../scss/index.scss" as *;

.drag {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  gap: rem(20px);
  cursor: move;
  user-select: none;

  margin: 0 auto;
  padding: rem(26px) rem(26px) 0;
  min-width: 100%;
  height: 100vh;
  z-index: $z-1;

  @include tablet() {
    height: 140vh;
    left: rem(300px);
  }

  &__title {
    color: $mediumGray;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: rem(24px);

    &--1 {
      background-color: #49c4e5;
    }

    &--2 {
      background-color: #8471f2;
    }

    &--3 {
      background-color: #67e2ae;
    }

    span {
      width: 15px;
      height: 15px;
      border-radius: 100%;
    }

    h3 {
      text-align: left;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }
  }

  &__column {
    height: 100%;
    width: rem(300px);
  }

  &__item {
    transition: $transition;
    font-size: 15px;
    border: 6px;
    background-color: theme(main);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 4px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding: 24px 16px;
    border-radius: 9px;
    margin-bottom: 24px;

    h4 {
      color: theme(title);
      font-weight: 400;
      margin-bottom: rem(10px);
    }

    p {
      color: $mediumGray;
      font-weight: 700;
      font-size: rem(12px);
    }
  }

  &__emptyColumn {
    display: flex;
    flex-direction: column;
    min-width: rem(300px);
    height: 100%;

    &--title {
      height: 18px;
      margin-bottom: 24px;
    }

    button {
      transition: $transitionBtn;
      color: #828fa3;
      height: rem(560px);
      font-size: rem(24px);
      background: linear-gradient(
        to bottom,
        rgba(121, 132, 147, 0.3),
        rgba(130, 143, 163, 0.2),
        rgba(130, 143, 163, 0)
      );
      border-radius: 9px;
      font-weight: 700;

      &:hover {
        background: linear-gradient(
          to bottom,
          rgba(121, 132, 147, 0.4),
          rgba(130, 143, 163, 0.3),
          rgba(130, 143, 163, 0)
        );
        color: #635fc7;
      }
    }
  }
}
