@use "../../scss/index.scss" as *;

.drag {
  position: absolute;
  display: flex;
  gap: 20px;

  margin: 0 auto;
  padding: 26px 26px 0;
  width: 100%;
  height: 100vh;
  z-index: $z-1;

  @include tablet() {
    height: 140vh;
    left: rem(300px);
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;

    &--1 {
      background-color: #49c4e5;
    }

    &--2 {
      background-color: #8471f2;
    }

    &--3 {
      background-color: #67e2ae;
    }

    span {
      width: 15px;
      height: 15px;
      border-radius: 100%;
    }

    h3 {
      text-align: left;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }
  }

  &__column {
    height: 100%;
    width: rem(300px);
  }

  &__item {
    font-size: 15px;
    border: 6px;
    background-color: #fff;
    color: #000;
    padding: 24px 16px;
    border-radius: 9px;
    margin-bottom: 24px;
  }

  &__emptyColumn {
    display: flex;
    flex-direction: column;
    min-width: rem(300px);
    height: 100%;

    &--title {
      height: 18px;
      margin-bottom: 24px;
    }

    button {
      color: #828fa3;
      height: rem(500px);
      font-size: rem(24px);
      background: linear-gradient(
        to bottom,
        rgba(121, 132, 147, 0.2),
        rgba(130, 143, 163, 0.1),
        rgba(130, 143, 163, 0)
      );
      border-radius: 9px;
      font-weight: 700;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px 0px;

      &:hover {
        color: #635fc7;
      }
    }
  }
}
