@use "../../scss/index.scss" as *;

/**************************************/
/* CSS RESET                          */
/**************************************/

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
.main-container {
  width: 100%;
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

.main-container {
  overflow: auto;
  position: relative;
  transition: $transition;
  background-color: theme(bg);
  height: calc(100vh - rem(90px));
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: $transition;
  background: rgba(0, 0, 0, 0.5);

  @include tablet() {
    display: none;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

img {
  object-fit: contain;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  font-size: 1.5rem;
}

a:link,
a:visited {
  transition: 0.3s;
  font-size: 1.2rem;
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
