@use "../../../scss/index.scss" as *;

.addcolumn {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: $z-4;
  padding: rem(32px);
  width: 100%;
  max-width: rem(480px);
  background-color: theme(main);
  border-radius: 9px;

  h2 {
    color: theme(title);
    font-size: rem(18px);
    margin-bottom: rem(16px);
  }

  span {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: theme(subTitle);
    font-size: rem(12px);
  }

  &__name {
    margin-bottom: rem(16px);

    p {
      opacity: 0.3;
      color: theme(title);
      border-radius: 4px;
      font-size: rem(13px);
      border: 2px solid rgba(130, 143, 163, 0.4);
      padding: 8px rem(12px);
    }
  }

  &__subInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: rem(18px);

    span {
      margin-bottom: 0;
    }

    &--input {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: rem(16px);

      input {
        background-color: transparent;
        color: theme(title);

        border-radius: 4px;
        font-size: rem(13px);
        padding: rem(8px) rem(12px);
        border: 2px solid rgba(130, 143, 163, 0.4);
        width: 100%;
      }
    }

    &--insert {
      margin-top: rem(12px);
      width: 100%;
      background-color: theme(addBtn);
      padding: rem(8px);
      font-size: rem(13.5px);
      border-radius: 100px;
      color: $darkBlue;
      font-weight: 700;
      transition: $transitionBtn;

      &:hover {
        filter: brightness(85%);
      }
    }
  }

  &__submit {
    width: 100%;
    padding: rem(8px) 0;
    background-color: $darkBlue;
    border-radius: 100px;
    color: $white;
    font-weight: 700;
    font-size: rem(13.5px);
    letter-spacing: 0.5px;
    transition: $transitionBtn;

    &:hover {
      filter: brightness(90%);
    }
  }
}
