@use "../FormStyle.scss" as *;

.addBoardDrag {
  @include formStyle();

  &__error {
    span {
      position: relative;

      &::before {
        position: absolute;
        content: "Atleast one column";
        bottom: 0;
        right: 0;
        color: #ea5555;
      }
    }

    input {
      border-color: #ea5555;
    }
  }
}
