@use "../../scss/index.scss" as *;

// Only used on TaskItem & EllipsisHeader component
@mixin ellipsisModalStyles($top, $right, $transformY) {
  position: absolute;
  top: $top;
  right: $right;
  z-index: $z-5;
  transform: translate(0, $transformY);

  padding: rem(16px);
  display: flex;
  flex-direction: column;
  gap: 8px;

  border-radius: 9px;
  width: rem(200px);
  background-color: theme(board);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  @include mobile() {
    top: $top;
    right: 0;
    transform: translateY($transformY);
  }

  button {
    transition: $transitionBtn;
    text-align: left;

    &:hover {
      opacity: 0.6;
    }
  }

  &__primary {
    color: $mediumGray;
  }

  &__secondary {
    color: $red;
  }

  &__logout {
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: theme(title);
    background-color: $veryLightBlue;
    border-radius: 6px;
    padding: 10px;

    p {
      color: $darkBlue;
      font-weight: 700;
      font-size: rem(16px);
    }
  }
}
