@use "../../scss/index.scss" as *;

.sidenav {
  display: none;
  position: fixed;
  transform: translate(-50%);
  top: rem(80px);
  left: 50%;
  z-index: $z-2;
  width: rem(300px);

  // only for mobile layout
  &__mobileShow {
    z-index: $z-5;
    display: block;
  }

  @include tablet() {
    display: block;
    position: fixed;
    transform: none;
    top: rem(90px);
    left: 0;
    height: 100%;
  }

  &__container {
    transition: $transition;
    color: $mediumGray;
    background-color: theme(main);
    max-width: rem(300px);
    padding: rem(16px) 0 rem(32px);
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;

    @include tablet() {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100% - rem(90px));
      border-radius: 0;
      box-shadow: none;
    }
  }

  h3 {
    padding: 0 rem(32px);
    font-size: rem(12px);
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: rem(16px);
  }

  ul {
    padding: 0 0 0 rem(32px);
    display: flex;
    flex-direction: column;
    gap: 4px;

    button {
      color: inherit;
      display: flex;
      align-items: center;
      gap: 16px;
      font-weight: bold;
      padding: rem(10px) 0;
    }

    .createBoard {
      button {
        color: #635fc7;
      }

      div {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }

  &__active {
    color: $white;
    position: relative;
    height: 100%;
    z-index: 5;

    &::before {
      z-index: -1;
      display: block;
      position: absolute;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      top: 0;
      left: rem(-32px);
      content: "";
      width: 100%;
      height: 100%;
      background-color: $darkBlue;
    }
  }

  &__btn {
    &--switch {
      margin: rem(8px) rem(32px) 0;
      background-color: theme(switch);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 26px;
      padding: rem(10px) 0;
      border-radius: 6px;

      @include tablet {
        margin-bottom: rem(16px);
      }
    }

    &--hide {
      color: inherit;
      display: none;
      font-weight: 700;
      font-size: rem(15px);

      @include tablet {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: rem(32px);
      }
    }
  }
}
