@use "../../scss/index.scss" as *;

.showDesktopNavBtn {
  display: none;
  position: fixed;
  left: 0;
  bottom: rem(20px);
  z-index: $z-5;
  transition: $transitionBtn;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: rem(14px) rem(20px);
  background-color: $darkBlue;

  &:hover {
    opacity: 0.6;
  }

  @include tablet() {
    display: block;
  }
}

.hideDesktopNavBtn {
  display: none;

  @include tablet() {
    display: block;
  }
}

.sidenav {
  display: none;
  width: rem(340px);
  position: fixed;
  top: rem(80px);
  z-index: $z-2;

  &__mobileShowNav {
    z-index: $z-5;
    display: block;
    transform: translateX(-50%) !important;
    left: 50%;

    @include tablet() {
      transform: none !important;
      left: auto;
    }
  }

  @include tablet() {
    display: block;
    width: rem(300px);
    height: 100%;
    top: rem(90px);
  }

  &__container {
    transition: $transition;
    color: $mediumGray;
    background-color: theme(main);
    max-width: rem(340px);
    padding: rem(16px) 0 rem(32px);
    margin: 0 auto;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;

    @include tablet() {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: rem(300px);
      height: calc(100% - rem(90px));
      border-radius: 0;
      box-shadow: none;
    }
  }

  h3 {
    padding: 0 rem(32px);
    font-size: rem(12px);
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-bottom: rem(16px);
  }

  ul {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    button {
      text-align: left;
      word-break: break-word;
      width: 100%;
      color: inherit;
      display: flex;
      align-items: center;
      gap: 16px;
      font-weight: bold;
      padding: 10px rem(32px);
    }

    .createBoard {
      button {
        color: #635fc7;
      }

      div {
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }

  &__active {
    color: $white;
    position: relative;
    height: 100%;
    z-index: 5;

    &::before {
      z-index: -1;
      display: block;
      position: absolute;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      top: 0;
      content: "";
      width: 95%;
      height: 100%;
      background-color: $darkBlue;
    }
  }

  &__btn {
    &--switch {
      margin: rem(8px) rem(32px) 0;
      background-color: theme(switch);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 26px;
      padding: rem(10px) 0;
      border-radius: 6px;

      @include tablet {
        margin-bottom: rem(16px);
      }
    }

    &--hide {
      color: inherit;
      display: none;
      font-weight: 700;
      font-size: rem(15px);

      @include tablet {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: rem(32px);
      }
    }
  }
}
