@use "../../scss/index.scss" as *;

.addtask {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: $z-4;
  padding: rem(32px);
  width: 100%;
  max-width: rem(480px);
  background-color: theme(main);
  border-radius: 9px;

  &__close {
    text-align: right;

    button {
      display: inline-block;
      padding: 8px;
      background-color: rgba(8, 8, 8, 0.1);
      border-radius: 6px;

      &:hover {
        filter: brightness(75%);
      }
    }
  }

  h3 {
    color: theme(title);
    font-size: rem(18px);
    margin-bottom: rem(12px);
  }

  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(18px);
  }

  &__subtask span,
  &__statusContainer span,
  label {
    letter-spacing: 0.5px;
    color: theme(subTitle);
    font-weight: 700;
    font-size: rem(13px);
    margin-bottom: rem(8px);
  }

  textarea,
  input {
    background-color: transparent;
    color: theme(title);
    font-size: rem(13px);
    border-radius: 4px;
    border: 2px solid rgba(130, 143, 163, 0.4);
    padding: rem(8px) rem(12px);

    &:focus {
      outline: none;
      border: 2px solid $darkBlue;
    }
  }

  textarea {
    resize: none;
  }

  form &__subtask {
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: rem(16px);
      margin-bottom: rem(18px);
    }

    input {
      width: 100%;
    }

    &--insert {
      background-color: theme(addBtn);
      padding: rem(8px);
      font-size: rem(13.5px);
      border-radius: 100px;
      color: $darkBlue;
      font-weight: 700;
      transition: $transitionBtn;

      &:hover {
        filter: brightness(85%);
      }
    }
  }

  &__statusContainer {
    position: relative;
  }

  &__statusBtn {
    color: theme(title);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: rem(13.5px);
    text-align: left;
    padding: rem(8px) rem(12px);
    border: 2px solid rgba(130, 143, 163, 0.4);
    border-radius: 4px;
    font-weight: 700;

    &:focus {
      outline: none;
      border: 2px solid $darkBlue;
    }
  }

  &__statusList {
    position: absolute;
    top: 5rem;
    width: 100%;
    padding: rem(16px);
    font-size: rem(14px);
    background-color: theme(board);
    border-radius: 4px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
      rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    button {
      margin-bottom: rem(8px);
      text-align: left;
      width: 100%;
      color: $mediumGray;
    }
  }

  &__submit {
    width: 100%;
    padding: rem(8px) 0;
    background-color: $darkBlue;
    border-radius: 100px;
    color: $white;
    font-weight: 700;
    font-size: rem(13.5px);
    letter-spacing: 0.5px;
    transition: $transitionBtn;

    &:hover {
      filter: brightness(85%);
    }
  }
}
